<h1>Bachelorette: <%= @bach.name %></h1>
<h3>Contestants:</h3>
<% @contestants.each do |contestant| %>
  <li>Name: <%= link_to "#{contestant.name}", "/contestants/#{contestant.id}" %>, Age: <%= contestant.age %>, Hometown: <%= contestant.hometown %></li>
<% end %>
<p>These Contestants are from these hometowns:
